<table class="table table-striped">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.title, post_path(post) %></td>
        <td><%= post.name %></td>
        <td><%= post.created_at.strftime('%b %d, %Y') %></td>
		<td><%= raw truncate post.content, :length => 100 %></td>
        <td>
          <%= link_to 'Read the article', post_path(post), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_post_path, :class => 'btn btn-primary' %>
